{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
	<div class="container mt-4 text-center">
		<h1 class="text-center font-bold text-2xl my-10">
			Se connecter
		</h1>
		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey | trans(error.messagedata, 'security') }}
			</div>
		{% endif %}

		<form action="{{ path('login') }}" method="post">
			<div class="form-group">
				<label for="username">
					Nom d'utilisateur
				</label>
				<input type="text" id="username" name="_username" class="form-control">
			</div>

			<div class="form-group">
				<label for="password">
					Mot de passe
				</label>
				<input type="password" id="password" name="_password" class="form-control">
			</div>

			<div class="actions">
				<a href="#" class="btn btn-link register">
					S'inscrire
				</a>
				<a href="{{ path('forgot.password') }}" class="btn btn-link forgot-password">
					Mot de passe oublié ?
				</a>
				<button type="submit" class="btn btn-primary">
					Se connecter
				</button>
			</div>

		</form>
	</div>
{% endblock %}