<div class="content">
	<p>Bonjour
		{{ user.username }}, bienvenue sur Snow Tricks !</p>
	<p>Afin de valider votre inscription et pour que vous puissiez vous connecter, veuillez cliquer sur le
		<a href="{{ url("home") ~ 'validate-user/' ~ user.id ~ '/' ~ user.token }}">lien suivant</a>
	</p>
</div>